body
{
    text-align: center;
}


/* Title section */
/* Title section */
#title .intro
{
    margin: auto;
    padding-bottom: 4rem;
    padding-top: 4rem;
    background-color: black;
}

#title h1
{
    font-weight: bolder;
    color: white;
    font-size: 4rem;
}

#title h3
{
    color: lightblue;
}


/* Game section */
/* Game section */
.btn
{
    margin:2rem;
    letter-spacing: 5px;
}

#game h3
{
    margin: 20px 0;
    font-size: 2rem;
}

.game
{
    width: 30%;
    padding: 2rem;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}


.item
{
    background-color: gray;
    height: 7rem;
    padding: 30px 20px 20px 20px;
    font-size: 2rem;
    cursor: pointer;
    color: gray;
    margin: 5px;
    
}

.item2
{
    background-color: gray;
    height: 7rem;
    padding: 30px 20px 20px 20px;
    font-size: 2rem;
    cursor: pointer;
    margin: 5px;
    color: white;
}

.click{
    visibility: hidden;
}

.click2{
    visibility: visible;
}

#game .btn-dark a
{
    text-decoration-line: none;
    color: white;
}


/* Footer section */
/* Footer section */
#footer
{
    padding: 4rem;
}

#footer p
{
    padding-top: 2rem;
}

#footer p a
{
    color: gray;
    text-decoration-line: none;
}

.link
{
    margin: 2rem;
    color: black;
}


/* Responsive */
/* Responsive */
@media screen and (max-width:954px) {
    .game
    {
        width: 50%;
    padding: 2rem;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width:555px) {
    .game
    {
        width: 70%;
    padding: 1rem;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    }
    

}